/* login */
.form-module {
	position: relative;
    background: #ffffff;
    max-width: 400px;
    width: 100%;
    border-top: 5px solid #FF8D1B;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin:1em auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background:#FF8D1B;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
	position: absolute;
    top: 5px;
    right: -75px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'Ubuntu', sans-serif !important;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 30px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h3 {
    margin: 0 0 1.5em;
    color: #212121;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
}
.form-module input[type="text"],.form-module input[type="password"],.form-module input[type="email"] {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size:14px;
}
.form-module input[type="text"]:focus,.form-module input[type="password"]:focus,.form-module input[type="email"]:focus {
  border:1px solid #C7D0F5;
  color: #333333;
}
.form-module input[type="submit"] {
	background: #919191;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
	outline:none;
}
.form-module input[type="submit"]:hover {
  background:#FF8D1B;
}
.form-module .cta {
	background: #343434;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.form-module .cta a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
.modal-header {
    text-align: center;
    font-size: 2em;
    color: #212121;
}
.modal-content{
	z-index:9999;
}
/*-- //login --*/